.search_flight_home{
 background: #ff5115 none repeat scroll 0 0;
    margin: auto auto 0;
    position: relative;
    width: 1170px;
}
.form_search_home {
    display: block;
    padding: 0;
    position: relative;
    z-index: 99;
}
.booking-title .fa {
    font-size: 22px;
    margin-right: 6px;
    position: relative;
    top: 3px;
}
.wrapfrm {
    color: #0270b5;
    display: block;
    float: left;
    width: 100%;
     padding: 20px 0 0;
    margin-left: 0;
    position: relative;
                 -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
 }
 
#calendar_content {
    background: none repeat scroll 0 0 #f1f1f1;
    float: left;
    right: 10px;
    position: absolute;
    top: 290px;
    z-index: 999999
 }
 
table tr td.alignright {text-align: right;margin-right:15px}
 
.wrapfrm .bg_date {
    background: linear-gradient(to right,#eff2fb 0%,#bed0fc 50%,#eff2fb 100%) repeat scroll 0 0 rgba(0,0,0,0);
    float: left;
    height: 1px;
    margin-top: 15px;
    width: 100%
 }
 
.wrapfrm .header {
    display: block;
    float: left;
    width: 100%;
 }
 
.wrapfrm input.retDate {float: right}
 
.wrapfrm .header h2 {
    color: #313131;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 0;
    text-align: left;
    text-indent: 45px;
    background: url(../image/icon_bg_wrapfrm_home.png) no-repeat scroll 10px center #fff;
    border-bottom: 1px solid #c1c1c1
 }
 
.wrapfrm .header {
    margin: 5px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
 }
 
    .wrapfrm .header h2 {line-height: 39px;text-indent:35px}
 
.wrapfrm .first header {
    display: block;
    height: 40px;
    line-height: 40px
 }
 .input_left {
   padding-right: 8%;
    text-align: right;
    width: 45%;
}
 .input_right {
    text-align: left;
    width: 46%;
}
.wrapfrm .header label.ht {float: left;padding-right:20px}
 
.wrapfrm .header p {
    color: #fff;
    font-size: 17px;
    text-transform: capitalize
 }
 
.wrapfrm .first header {
    display: block;
    height: 36px;
    line-height: 36px
 }
 
.wrapfrm .header p {
    float: left;
    margin: 0;
    font-size: 12px;
	width: 45%;
 }
 
.wrapfrm_search .header p {padding-left: 10px;width:45%}
 
    .wrapfrm_search .header p label {font-weight: 700}
 
.wrapfrm_search label {font-weight: 700;color:#3b5998}
 
.wrapfrm .header label {
    color: #44433f;
    font-size: 13px;
    font-weight: bold;
 }
 
.wrapfrm .header label {
    color: #fff;
    font-size: 15px;
    font-weight: 500!important;
    padding: 0 2px
 }
 
.wrapfrm .floatleft.res .city {float: left}
 
.wrapfrm .header label.ht {float: left;padding-right:20px}
 
.wrapfrm .first .content {float: left;width:100%}
 
    .wrapfrm .first .content .content-left {width: 40%;float:left}
 
    .wrapfrm .first .content .content_right {width: 60%;float:left}
 
    .wrapfrm .first .content input[type="text"].city {
        color: #666;
        font-size: 12px;
        height: 27px;
        width: 91%
     }
 
#quantity-adt,#quantity-chd,#quantity-inf {
    background: none repeat scroll 0 0 #FFF;
    width: 83%;
    height: 20px
 }
 
.wrapfrm .floatleft.dayres {margin-top: 10px;width:49%}
 
.wrapfrm .first .content .aut {
    color: #000;
    line-height: 19px;
    margin-left: 0;
    margin-top: 14px;
    position: relative;
    width: 32%;
 }
 
.content .soluong {
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    width: 100%;
 }
 
.wrapfrm .first .content .inf select {float: left}
 
.wrapfrm .first .content .inf select,.wrapfrm .first .content .aut input,.wrapfrm .first .content .chd input {
             background:#f0f0f0;   
    font-weight: bold;
    height: 45px;
  
 }
 
.wrapfrm .first .content .chd input {margin-left: 2px}
 
.wrapfrm .first .content .aut input,.wrapfrm .first .content .chd input {float: left}
 
.wrapfrm .first .content .aut p,.wrapfrm .first .content .chd p,.wrapfrm .first .content .inf p {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    width:100%;
    line-height: 38px
 }
 
.wrapfrm .first .content .inf select {width: 110px; margin-left: 3px;}
 
.wrapfrm .first .content .aut input {margin-right: 13px}
 
.wrapfrm .first .content .chd input {width: 120px;margin-right:20px}
 
.wrapfrm .first .content .inf {margin-top: 15px}
 
.wrapfrm .first .content .chd,.wrapfrm .first .content .inf {
    color: #000;
    margin-left: 0;
    margin-top: 10px;
    position: relative;
    width: 31%;
 }
 
.wrapfrm .first .content .chd {  line-height: 19px;
    padding-left: 11px;
    width: 32%;}
 
.wrapfrm .first .content .inf {line-height: 19px; width: 34%}
 
    .wrapfrm .first .content .inf label,.wrapfrm .first .content .chd label {
        float: left;
        font-weight: 700;
        padding: 0 5px 0 2px;
        width: 100%;
        font-size: 13px;
        color: #fff;
     }
 
.wrapfrm .first .content .aut label {
 color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 700;
    padding: 0 5px 0 0;
    width: 100%;
 }
 
.wrapfrm .first .content .aut p.quantity,.wrapfrm .first .content .chd p.quantity,.wrapfrm .first .content .inf p.quantity {float: left}
 
.wrapfrm .first .content .aut p.quantity .wrap-quantity {width: 30%!important;height:40px}
 
.wrapfrm .inf .quantity > input {float: right}
 
.sanbay {overflow: auto}
 
.butonsearch .cmdsearch {width: 310px}
 
#frmsearchair ul.hanhtrinh {
    list-style: none;
    margin: 0;
    padding: 0
 }
 
    #frmsearchair ul.hanhtrinh li {
        float: left;
        width: 33%;
        margin: 0;
        padding: 0
     }
 
div.chd {margin-left: 15px}
 
.wrapfrm div.inf {float: right}
 
.floatleft {
    float: left;
    position: relative
 }
 
.floatright {float: right}
 
.wrapfrm .res,.wrapfrm .des {width: 50%}
 
.wrapfrm .floatleft.res .city {float: right;margin-right:0}
 
.wrapfrm .resday {
    float: left;
    margin-top: 10px;
    width: 48%
 }
 
.wrapfrm .date.retDate.hasDatepicker {float: left;margin-right:0}
 
.wrapfrm #ngayve > label {  padding-left: 2px;}
 
.wrapfrm .floatleft.res > label {padding-left: 11px}
 
.res,.des,.datedes,.resday {width: 49%;margin-top:10px}
 
.wrapfrm input.date {
    height: 23px;
    border: 1px solid #c0bebe;
    font-size: 13px;
     background:#f0f0f0;
    background:-moz-linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    background:-o-linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    background:-ms-linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    background:linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    border:1px solid #9f780b;
 }
 
.wrapfrm .first .content input.city[type="text"] {
 background:#f0f0f0;
    background:-moz-linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    background:-o-linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    background:-ms-linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    background:linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    border: medium none;
    color: #333;
    font-size: 14px;
      line-height: 33px;
    height: 45px;
    text-indent: 14px;
    text-transform: capitalize;
    width: 97%;
    border:1px solid #9a9a17;
 }
 
.wrapfrm .first .content input[type="text"] {color: #333;width:72%}
 
.wrapfrm input.date {
    height: 45px;
    border: none;
    padding-left: 10px;
    font-size: 13px;
    width: 97% !important;
       line-height: 33px;
        border: 1px solid #9a9a17;
 }
 
.floatleft.resday > label {display: block}
 
.resday .ui-datepicker-trigger {background: none repeat scroll 0 0 #069;padding:2px 10px}
 
input[type="radio"]:hover {cursor: pointer}
 
.results tr td img:hover {cursor: pointer}
 
button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
 }
 
select#adt_nd,select#chd_nd,select#INF {
    width: 60%;
    height: 30px;
    background-color: #ddd!important;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
 }
 
.wrapfrm div.first {float: left;display: block;}
 
.wrapfrm .first .content input.city[type="text"] {font-size: 13px!important}
 
.wrapfrm .floatleft.res > label {display: block}
.wrapfrm .res .fa-crosshairs, .wrapfrm .des .fa-crosshairs {
    color: #a4a4a4;
    font-size: 18px;
    position: absolute;
}
.wrapfrm .des .fa-crosshairs{
     right: 20px;
    top: 45px;
}
.wrapfrm .res .fa-crosshairs{
     right: 10px;
    top: 45px;
}
.wrapfrm span.disable_date {
 background: #fff none repeat scroll 0 0;
    height: 70px;
    left: 0;
    opacity: 0.63;
    position: absolute;
    top: 7px;
    width: 99%;
 }
 
.wrapfrm .aut .quantity a.add {
    background: url(../image/atop.png) no-repeat;
    height: 8px;
    right: 20px;
    position: absolute;
    top: 10px;
    width: 13px
 }
 
.quantity {position: relative}
 
.wrapfrm .aut .quantity a.clear {
    background: url(../image/adown.png) no-repeat;
    width: 13px;
    height: 8px;
    position: absolute;
    display: block;
    right: 20px;
    top: 22px
 }
 
.wrapfrm .chd .quantity a.clear {
    background: url(../image/adown.png) no-repeat;
    width: 13px;
    height: 8px;
    position: absolute;
    display: block;
    right: 13px;
    top: 22px
 }
 
.wrapfrm .inf .quantity a.clear {
    background: url(../image/adown.png) no-repeat scroll 0 0 transparent;
    display: block;
    height: 8px;
    position: absolute;
    right: 9px;
    top: 22px;
    width: 13px
 }
 
.wrapfrm .chd .quantity a.add {
    background: url(../image/atop.png) no-repeat scroll 0 0 transparent;
    height: 8px;
    right: 13px;
    position: absolute;
    top: 10px;
    width: 13px
 }
 
.wrapfrm .inf .quantity a.add {
    background: url(../image/atop.png) no-repeat scroll 0 0 transparent;
    height: 8px;
    right: 9px;
    position: absolute;
    top: 10px;
    width: 13px;
    display: block
 }
 
.wrapfrm_search .butonsearch input {font-weight: 700;margin-left:2px!important}
 
.wrapfrm_search .butonsearch a {
    float: right;
    font-weight: 700;
    margin-left: 1px!important;
    margin-right: 2px;
    padding: 0
 }
 
.butonsearch a {
    -moz-box-sizing: border-box;
    background-color: #e1e1e1!important;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    font-size: 11px;
    height: 40px;
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: 400;
    text-align: center;
    margin-left: 2%!important;
    line-height: 40px;
    padding: 12px;
    text-decoration: none
 }
 
.butonsearchform {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100%
 }
 
    .butonsearchform a {
        background: none repeat scroll 0 0 #036;
        border: 0 none;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        height: 46px;
        padding: 0 25px;
        line-height: 46px;
        display: block;
        margin: 0 34%;
        width: 117px;
        text-transform: uppercase
     }
 
div.butonsearch {float: left;width:100%}
 
.wrapfrm div.butonsearch {
    float: right;
    margin-bottom: 19px;
    margin-right: 0;
    margin-top: 20px;
    width: 100%;
 }
 
.wrapfrm .content .huongdan {width: 50%}
 
    .wrapfrm .content .huongdan a {line-height: 28px}
 
.wrapfrm .butonsearch input {
    border: none;
    color: #fff;
    font-size: 30px;
    font-family: VNF-Futura;
    height: 50px;
    text-align: center;
    text-indent: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin: 0 10%;
	background:#252b36;
    background:-moz-linear-gradient(center top , #252b36 0%, #0b0d10 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#252b36), to(#0b0d10));
    background:-o-linear-gradient(center top , #252b36 0%, #0b0d10 100%);
    background:-ms-linear-gradient(center top , #252b36 0%, #0b0d10 100%);
    background:linear-gradient(center top , #252b36 0%, #0b0d10 100%);    
    width:  80%;
 }
 
.wrapfrm .first .content .aut input {
    height: 32px;
    margin-top: 0;
    padding: 0;
    text-indent: 10px;
    width: 80px
 }
 
.wrapfrm .first .content .aut { 
    margin-top: 10px;}
 
.wrapfrm .first .content .chd input {
    height: 33px;
    padding: 0;
    width: 80px;
    text-indent: 10px
 }
 
.wrapfrm .aut .bg_select_aut {right: 13px}
 
.wrapfrm .first .content .chd {margin-top: 10px}
 
.wrapfrm .first .content .inf select {width: 98%}
 
.wrapfrm .first .content .chd .bg_select_chd {right: 6px}
 
.wrapfrm .first.header h2 {
    font-size: 16px;
    font-weight: normal;
    left: 70px;
    line-height: 25px;
    position: absolute;
    text-transform: uppercase;
 }
 
.wrapfrm form {
    clear: both;
    float: left;
 }
 
.floatleft.des > label,.floatleft.res > label {
    float: left;
    line-height: 30px;
     color: #fff;
    text-align: left;
 }
 
.floatleft.dayres > label {
    display: block;
    line-height: 30px;
     color: #fff;
    float: left;
 }
 
.wrapfrm .first .content .chd select,.wrapfrm .first .content .aut select {
    height: 45px;
    width: 100%;
         background:#f0f0f0;
    background:-moz-linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    background:-o-linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    background:-ms-linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    background:linear-gradient(center top , #ffffff 0%, #f0f0f0 100%);
    border:1px solid #9a9a17;
 }
 
.wrapfrm .text_order {
    float: left;
    margin-top: 30px;
    width: 50%;
 }
 
.text_order span {
    color: #e72023;
    font-weight: bold;
 }
 
.text_order a:hover span {text-decoration: underline}
 
#ngayve {float: right;}
 
a.tab-search {
    float: left;
    width: 100%;
 }
 
.contetn_tour {
    border: 1px solid #e2f3f5;
    clear: both;
    padding: 0 5px;
 }
 
#tab-search {
    float: left;
 }
 
img.ui-datepicker-trigger {
    right: 5.3%;
    position: absolute;
    top: 4px;
 }
 
img.ui-datepicker-trigger {
    padding: 40px 19px 11px 94%;
    position: absolute;
    right: 0;
    top: 0;
 }
 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {img.ui-datepicker-trigger}
 
{}
 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {img.ui-datepicker-trigger}