.nivoSlider {
    position: relative
}.nivoSlider img {
       border: 0 none;
    display: block !important;
    float: left;
    height: auto;
    width: 100%;

}.nivoSlider a.nivo-imageLink {
    width: 100% ;height: 100% ;border: 0;padding: 0;margin: 0;z-index: 6;display: none
}.slideshow {
    float: right;height: 335 px
}.nivo-slice {
    display: block;position: absolute;z-index: 5;height: 100%
}.nivo-box {
    display: block;position: absolute;z-index: 5
}.nivo-caption {
    position: absolute;left: 0;bottom: 0;background: #000;color:#fff;opacity: .8;width: 100% ;z-index: 8
}.nivo-caption p {
    text-align: center;
    padding: 5 px;
    margin: 0
}.nivo-caption a {
    display: inline!important
}.nivo-html-caption {
    display: none
}.nivo-directionNav a {
    position: absolute;top: 45% ;z-index: 9;cursor: pointer
}.nivo-prevNav {
    left: 0
}.nivo-nextNav {
    right: 0
}.nivo-controlNav a {
    position: relative;z-index: 9;cursor: pointer
}.nivo-controlNav a.active {
    font-weight: 700
}


    .slideshow .nivo-controlNav a.active,.slideshow_image .nivo-controlNav a.active{background-position:0 -22px}.slideshow .nivo-directionNav a,.slideshow_image .nivo-directionNav a{display:block;width:30px;height:30px;background:url(../image/arrows.png) no-repeat;text-indent:-9999px;border:0}.slideshow a.nivo-nextNav,.slideshow_image a.nivo-nextNav{background-position:-30px 0;right:15px}.slideshow a.nivo-prevNav,.slideshow_image a.nivo-prevNav{left:15px}.slideshow .nivo-caption,.slideshow_image .nivo-caption{text-shadow:none;font-family:Helvetica,Arial,sans-serif}.slideshow .nivo-caption a,.slideshow_image .nivo-caption a{color:#efe9d1;text-decoration: underline
}.slide_module .nivo-controlNav {
    position: absolute;left: 84%;bottom: 5px;text-align: center;height: 22px;z-index: 99
}.slide_module .nivo-controlNav a {
    background: rgba(0, 0, 0, 0) url("../image/bulletstourist.png") no-repeat scroll 0 0;border: 0 none;display: block;float: left;height: 22px;margin-right: 3px;text-indent: -9999px;vertical-align: top;width: 22px;
}.slide_module .nivo-controlNav a.active {
    background-position: 0 -22px;
}.slide_module .nivo-directionNav a {
    background: rgba(0, 0, 0, 0) url("../image/arrows.png") no-repeat scroll 0 0;border: 0 none;display: block;height: 30px;text-indent: -9999px;width: 30px;
}.slide_module a.nivo-nextNav {
    background-position: -30px 0;
    right: 15 px;
}.slide_module a.nivo-prevNav {
    left: 15 px;
}.slide_module .nivoSlider img {
    position: relative!important;
}.slide_module .nivoSlider {
  list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}