
#frm{
	border: solid gray 1px;
	width: 25%;
	margin: 100px auto;
	background : white;
	border-radius: 5px;
	padding: 40px;
}
#sub{
	color: #fff;
	background : #2963cd;
	margin-left: 150px;
	padding: 5px;
	width: 30%;
}
#sub1{
	color: #fff;
	background : #2963cd;
	margin-left: 150px;
	padding: 5px;
	width: 30%;
}
#out{
	color: #fff;
	background : #2963cd;
	margin-left: 150px;
	padding: 5px;
	width: 30%;
}
.sub-user{
	margin-left: 140px;
}
.sub-user a{
	text-decoration: none;
	color: blue;
}
.sub-user a:hover{
	color: red;
}
.h3{
	text-align: center;
}
.h4{
	text-align: center;
}
.form-control { 
margin-bottom: 10px;
}
.login-screen-bg {  
background-color: #EFEFEF;
}